<html>
  <ul>
    <li><a href="/add">add</a></li>
    <li><a href="/substract">substract</a></li>
    <li><a href="/multiply">multiply</a></li>
    <li><a href="/divide">divide</a></li>
  </ul>
</html>
